.projects-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.projects-container h1 {
    font-size: 30px;
    margin: 20px;
    align-items: center;
}


.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-textfield {
  text-align: center;
}
