/* COLOR HEX CODES
  #353535 - dark grey
  #3C6E71 - teal
  #FFFFFF - white
  #D9D9D9 - light gray
  #284B63 - dark blue
 */
 
.entry {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: radial-gradient(circle at center, #3C6E71 50%, #2f5a76, #284B63);
  position: relative;
  width: 100%;
  flex-direction: row;
}

.entry-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vmin;
  width: 20vmin;
}

.dashboard-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vmin;
  width: 20vmin;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex: 1;
}

@media screen and (min-width: 1100px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    max-width: 40%
  }
}

@media screen and (max-width: 1099px) {
  .auth-form-container {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    max-width: 60%
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #284B63;
}

.action-btn {
  transition: 0.5s;
}

.action-btn:hover {
  background-color: #D9D9D9;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  
}

@media (prefers-reduced-motion: no-preference) {
  .entry-logo {
    animation: App-logo-spin 3s linear;
  }
}


.App-header {
  background-color: #353535;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
